<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="animations" type="IdleMouse.Models.AnimationsConfigSectionHandler, IdleMouse" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="IdleMouse.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <animations xmlns="http://schneenet.com/IdleMouse/Animations.xsd">
    <animation name="Circle" interpolation="Linear">
      <ellipse cx="0.5" cy="0.5" rx="0.5" ry="0.5" />
    </animation>
    <animation name="Elliptical Orbit (CW)" interpolation="CubicEaseIn">
      <ellipse cx="0.5" cy="0.5" rx="0.5" ry="0.5" />
    </animation>
    <animation name="Elliptical Orbit (CCW)" interpolation="CubicEaseIn" reverse="true">
      <ellipse cx="0.5" cy="0.5" rx="0.5" ry="0.5" />
    </animation>
    <animation name="Bounce (Horizontal)" interpolation="CubicEaseInOut">
      <path>
        <point x="0" y="0.5" />
        <point x="1" y="0.5" />
      </path>
    </animation>
    <animation name="Bounce (Vertical)" interpolation="BounceEaseOut">
      <path interpolationMode="Repeat">
        <point x="0" y="0" />
        <point x="1" y="0" />
        <point x="1" y="1" />
        <point x="0" y="1" />
      </path>
    </animation>
  </animations>
  <userSettings>
    <IdleMouse.Properties.Settings>
      <setting name="IdleTimeout" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="IdleEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IdleAnimation" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="IdleAnimationWidth" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="IdleAnimationHeight" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="IdleAnimationSpeed" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="DisableScreensaver" serializeAs="String">
        <value>False</value>
      </setting>
    </IdleMouse.Properties.Settings>
  </userSettings>
</configuration>